@import './import.less';
@import 'user-navi';
@import 'lte';

@sw-font: "Roboto", sans-serif;
@sw-font-header: "Roboto Condensed", sans-serif;
@user-navi-bg: #545465;
@sw-text-color: #555555;
@sw-btn-bg: #30282a;
@sw-btn-primary-bg: #fc6953;
@sw-header-color: #3c85ff;

// screen sizes
@screen-lg: 1200px;
@screen-md: 980px;
@screen-sm: 768px;
@screen-xs: 480px;

html {
  box-sizing: border-box;
}

// widths
.content-width {
  max-width: 980px;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: #fff;
  font-size: 16px;
  color: @sw-text-color;
  font-family: @sw-font-header;
}

input, textarea {
  font-size: 16px;
  font-family: @sw-font;
  outline: none;
}

a {
  cursor: pointer;
  outline: none;
  text-decoration: underline;
  color: @sw-text-color;
  transition: all linear .2s;
  &:hover {
    text-decoration: none;
  }
  &.btn {
    line-height: 50px;
    &.btn-primary {
      line-height: 80px;
    }
    &.btn-info {
      line-height: 40px;
    }
  }
}

p {
  margin-bottom: 20px;
  line-height: 1.3em;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden-md {
  @media (max-width: @screen-md) {
    display: none !important;
  }
}

.container {
  @media screen {
    @media (min-width: @screen-sm) {
      margin-left: 10px;
      margin-right: 10px;
    }
    @media (max-width: @screen-md) {
      margin-left: 10px;
      margin-right: 10px;
    }
    @media (min-width: @screen-md) {
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.wrapper {
  @media screen {
    @media (max-width: @screen-md) {

    }
    @media (min-width: @screen-md) {
      min-height: 100%;
      height: 100%;
      height: auto !important;
    }
  }
  .pre-footer {
    @media screen {
      @media (max-width: @screen-md) {

      }
      @media (min-width: @screen-md) {
        padding-bottom: 350px;
      }
    }
  }
}

.navi {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      line-height: 1em;
    }
  }
}

.icon {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  &.icon-search {
    background-image: url(../img/icon-search.svg);
  }
  &.icon-location {
    background-image: url(../img/icon-location.svg);
  }
  &.icon-menu {
    background-image: url(../img/icon-menu.svg);
  }
  &.icon-contact {
    background-image: url(../img/icon-contacts.svg);
  }
  &.icon-star {
    background-image: url(../img/icon-star.svg);
  }
  &.icon-pic {
    background-image: url(../img/icon-pic.svg);
  }
  &.icon-folder {
    background-image: url(../img/icon-folder1.svg);
  }
  &.icon-filter {
    background-image: url(../img/icon-adv-search.svg);
  }
  &.icon-phone {
    background-image: url(../img/icon-phone.svg);
  }
  &.icon-mail {
    background-image: url(../img/icon-mail.svg);
  }
  &.icon-skype {
    background-image: url(../img/icon-skype.svg);
  }
  &.icon-close {
    background-image: url(../img/cross.svg);
  }
  &.icon-hand {
    &.hand-up {
      background-image: url(../img/icon-hand-up.svg);
    }
    &.hand-down {
      background-image: url(../img/icon-hand-down.svg);
    }
  }
}

.btn {
  cursor: pointer;
  border: 0;
  outline: none;
  height: 50px;
  padding: 0 20px;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  background-color: @sw-btn-bg;
  text-decoration: none;
  &:hover {
    background-color: lighten(@sw-btn-bg, 20%);
  }
  &.btn-icon {
    background-color: transparent;
    padding: 0;
    width: 26px;
    height: 26px;
  }
  &.btn-primary {
    background-color: #fc6953;
    height: 80px;
    padding: 0 50px;
    font-size: 30px;
    color: #fff;
    border-radius: 5px;
    &.btn-sm {
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      padding: 0 25px;
    }
  }
  &.btn-block {
    width: 100%;
  }
  &.btn-info {
    background-color: #3883ff;
    height: 40px;
    padding: 0 40px;
    border-radius: 3px;
  }
}

.rating {
  line-height: 1em;
  white-space: nowrap;
  .icon {
    width: 14px;
    height: 14px;
    background-size: 100% auto;
    opacity: .3;
  }
  &.rating-1 {
    .star1 {
      opacity: 1;
    }
  }
  &.rating-2 {
    .star1, .star2 {
      opacity: 1;
    }
  }
  &.rating-3 {
    .star1, .star2, .star3 {
      opacity: 1;
    }
  }
  &.rating-4 {
    .star1, .star2, .star3, .star4 {
      opacity: 1;
    }
  }
  &.rating-5 {
    .icon {
      opacity: 1;
    }
  }
}

.carousel {
  overflow: hidden;
  max-width: 870px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      position: relative;
      a {
        display: block;
        height: 100%;
        position: relative;
        z-index: 1020;
        &:hover {
          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(16, 16, 16, .5) url(../img/icon-zoom.svg) center no-repeat;
            background-size: 25px auto;
          }
        }
        img {
          display: block;
        }
      }
    }
  }
  .owl-theme {
    .owl-controls {
      .owl-buttons {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        div {
          font-size: 18px;
          background: none;
          padding: 0;
          margin: 0;
          opacity: 1;
          color: @sw-header-color;
          &:hover {
            color: @sw-text-color;
          }
        }
      }
    }
  }
}

.form {
  .intro {
    text-align: center;
    margin-bottom: 20px;
    color: #545465;
  }
  &.form-horizontal {
    .form-line {
      flex-direction: column;
    }
  }
  .form-line {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
    @media screen {
      @media (max-width: @screen-md) {
        flex-wrap: wrap;
        flex-direction: column;
      }
      @media (min-width: @screen-md) {
        justify-content: space-between;
      }
    }
    label {
      display: block;
      &:not(.checkbox) {
        margin-bottom: 10px;
      }
      &.checkbox {
        margin-bottom: 5px;
      }
    }
    &.form-submit {
      text-align: center;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      a {
        text-decoration: underline;
        color: @sw-header-color;
        &:hover {
          text-decoration: none;
        }
        + .btn {
          margin-top: 20px;
        }
      }
    }
    .form-group {
      @media screen {
        @media (max-width: @screen-md) {

        }
        @media (min-width: @screen-md) {
          flex: 0 0 50%;
        }
      }
    }
    &.error {
      input {
        border-color: #fc6953;
        color: #fc6953;
      }
    }
    &.capcha {
      align-items: center;
      @media screen {
        @media (max-width: @screen-md) {
          justify-content: center;
        }
        @media (min-width: @screen-md) {

        }
      }
      .title {
        font-size: 13px;
        color: #a9a9aa;
        font-weight: 300;
      }
      .input-wrap {
        @media screen {
          @media (max-width: @screen-md) {
            margin-top: 15px;
          }
          @media (min-width: @screen-md) {

          }
        }
      }
    }
  }
  .input-wrap {
    [type="text"], [type="email"], [type="password"], textarea, select {
      width: 100%;
      padding: 0 15px;
      height: 25px;
      border-radius: 3px;
      border: 1px solid #ddd;
      font-size: 14px;
    }
    textarea {
      height: 100px;
    }
  }
  .checkbox, .radio {
    input {
      position: absolute;
      left: -999em;
      &[type="checkbox"] {
        &:checked + .checkbox {
          &:after {
            content: '';
            position: absolute;
            background: url(../img/icon-check.svg) no-repeat;
            background-size: 100% auto;
            width: 12px;
            height: 9px;
            top: 5px;
            left: 4px;
          }
        }
      }
      &[type="radio"] {
        &:checked + .radio {
          &:after {
            content: '';
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: @sw-header-color;
            top: 6px;
            left: 6px;
          }
        }
      }
    }
    label.checkbox {
      padding-left: 25px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 17px;
        height: 17px;
        border: 1px solid #ddd;
        left: 0;
        top: 0;
        background: #fff;
      }
    }
    label.radio {
      padding-left: 25px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 17px;
        height: 17px;
        border: 1px solid #ddd;
        border-radius: 50%;
        left: 0;
        top: 0;
        background: #fff;
      }
    }
  }
}

.feedback-form {
  .form {
    .form-line {
      .input-wrap {
        flex: 1;
        input {
          height: 50px;
          border: 1px solid #e5e5e5;
          padding: 0 20px;
        }
      }
    }
  }
}

.search-block {
  position: relative;
  .form {
    .input-wrap {
      input {
        height: 40px;
        border-radius: 3px;
        border: 1px solid #c1c1c2;
        padding: 0 50px 0 20px;
      }
    }
    .btn {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -13px;
      z-index: 1;
      .icon {
        width: 26px;
        height: 26px;
      }
    }
  }
}

.city {
  position: relative;
  .icon {
    width: 10px;
    height: 13px;
    margin-right: 10px;
    opacity: .5;
  }
  .selected {
    position: relative;
    padding-right: 20px;
    &:after {
      content: '';
      border-top: 6px solid @sw-header-color;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      position: absolute;
      top: 7px;
      right: 0;
    }
  }
  .city-list {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);

    columns: 120px auto;
    z-index: 1020;
    display: none;
    @media screen {
      @media (max-width: @screen-md) {
        padding: 40px 20px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }
      @media (min-width: @screen-md) {
        padding: 15px 20px;
        width: 450px;
        position: absolute;
        left: 0;
      }
    }
    .mobile-close {
      @media screen {
        @media (max-width: @screen-md) {
          position: absolute;
          display: block;
          top: 15px;
          right: 15px;
        }
        @media (min-width: @screen-md) {
          display: none;
        }
      }
      .icon {
        opacity: 1;
        width: 20px;
        height: 20px;
        background-size: 100% auto;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 5px 0;
        &.active {
          a {
            font-weight: bold;
          }
        }
        a {
          display: block;
          font-weight: 300;
          color: @sw-header-color;
          text-decoration: underline;
          font-size: 14px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.site-header {
  @media screen {
    @media (max-width: @screen-md) {
      padding: 10px 0;
    }
    @media (min-width: @screen-md) {
      padding: 20px 0 10px;
    }
  }
  .header-inner {
    display: flex;
    align-items: center;
    @media screen {
      @media (max-width: @screen-md) {
        flex-direction: column;
      }
      @media (min-width: @screen-md) {
        justify-content: space-between;

      }
    }
    .middle-side {
      flex: 1;
      @media screen {
        @media (max-width: @screen-md) {
          order: 3;
          width: 100%;
        }
        @media (min-width: @screen-md) {

        }
      }
      .search-block {
        @media screen {
          @media (max-width: @screen-md) {
            order: 3;
            flex: 0 0 100%;
            margin-top: 10px;
          }
          @media (min-width: @screen-md) {
            margin: 0 20px;
            flex: 1;
          }
        }
      }
    }
    .right-side, .left-side {
      display: flex;
      align-items: center;
      &.left-side {
        @media screen {
          @media (max-width: @screen-md) {
            order: 2;
            justify-content: center;
            flex-direction: column;
            padding: 30px 0 20px;
          }
          @media (min-width: @screen-md) {

          }
        }
        .logo {
          @media screen {
            @media (max-width: @screen-md) {

            }
            @media (min-width: @screen-md) {
              margin-right: 50px;
            }
          }
          a {
            text-decoration: none;
            position: relative;
            span {
              position: absolute;
              bottom: 0;
              left: 75px;
              font-size: 11px;
              color: #a3a3a4;
              display: block;
              white-space: nowrap;
            }
          }
        }
        .city {
          @media screen {
            @media (max-width: @screen-md) {
              margin: 10px 0 0;
            }
            @media (min-width: @screen-md) {
              margin: 0 50px;
            }
          }
          > a {
            color: #a9a9aa;
            text-decoration: none;
          }
        }
      }
      &.right-side {
        @media screen {
          @media (max-width: @screen-md) {
            width: 100%;
            order: 1;
          }
          @media (min-width: @screen-md) {

          }
        }
        .top-line {
          display: flex;
          @media screen {
            @media (max-width: @screen-md) {
              justify-content: space-between;
              align-items: center;
              width: 100%;
            }
            @media (min-width: @screen-md) {
              align-items: center;
            }
          }
          .mobile-navi {
            @media screen {
              @media (max-width: @screen-md) {
                width: 24px;
                height: 24px;
              }
              @media (min-width: @screen-md) {
                display: none;
              }
            }
            .icon {
              width: 24px;
              height: 24px;
            }
          }
          .navi {
            font-size: 14px;
            @media screen {
              @media (max-width: @screen-md) {
                display: none;
                position: fixed;
                top: 45px;
                left: 0;
                right: 0;
                bottom: 0;
                background: #fff;
                z-index: 1020;
              }
              @media (min-width: @screen-md) {

              }
            }
            ul {
              display: flex;
              text-transform: uppercase;
              @media screen {
                @media (max-width: @screen-md) {
                  flex-direction: column;
                }
                @media (min-width: @screen-md) {

                }
              }
              li {
                @media screen {
                  @media (max-width: @screen-md) {
                    margin: 5px 0px;
                    &:not(:last-child) {
                      border-bottom: 1px solid #ddd;
                    }
                  }
                  @media (min-width: @screen-md) {
                    margin: 0 20px;
                  }
                }
                a {
                  text-decoration: none;
                  line-height: 1em;
                  display: block;
                  @media screen {
                    @media (max-width: @screen-md) {
                      padding: 10px 20px;
                    }
                    @media (min-width: @screen-md) {

                    }
                  }
                  &:hover {
                    color: @sw-header-color;
                  }
                }
                &.active {
                  a {
                    color: @sw-header-color;
                  }
                }
              }
            }
          }
          .auth {
            text-transform: uppercase;
            line-height: 1em;
            @media screen {
              @media (max-width: @screen-md) {

              }
              @media (min-width: @screen-md) {
                margin-left: 20px;
              }
            }
            a {
              display: block;
              font-size: 14px;
              text-decoration: none;
              color: @sw-header-color;
              line-height: 1em;
              @media screen {
                @media (max-width: @screen-md) {

                }
                @media (min-width: @screen-md) {
                  // margin-top: -2px;
                }
              }
              span {
                color: @sw-text-color;
                line-height: 12px;
              }
            }
          }
        }
      }
    }
  }
}

.site-footer {
  background: #f4f3f3;
  @media screen {
    @media (max-width: @screen-md) {

    }
    @media (min-width: @screen-md) {
      min-height: 350px;
      margin: -350px 0 0;
    }
  }
  .footer-inner {
    display: flex;
    @media screen {
      @media (max-width: @screen-md) {
        flex-direction: column;
        padding: 40px 0 20px;
      }
      @media (min-width: @screen-md) {
        padding: 35px 0 50px;
        justify-content: space-between;
      }
    }
    .column {
      &.info {
        @media screen {
          @media (max-width: @screen-md) {

          }
          @media (min-width: @screen-md) {
            width: 300px;
          }
        }
      }
      &:not(:last-child) {
        @media screen {
          @media (max-width: @screen-md) {
            margin-bottom: 30px;
          }
          @media (min-width: @screen-md) {

          }
        }
      }
      &:not(:last-child) {
        @media screen {
          @media (max-width: @screen-md) {

          }
          @media (min-width: @screen-md) {
            margin: 0 90px 0 0;
          }
        }
      }
      .bottom-logo {
        @media screen {
          @media (max-width: @screen-md) {
            margin-bottom: 10px;
          }
          @media (min-width: @screen-md) {
            margin-bottom: 30px;
          }
        }
      }
      .bottom-info {
        @media screen {
          @media (max-width: @screen-md) {

          }
          @media (min-width: @screen-md) {
            max-width: 250px;
          }
        }
      }
    }
    .navi {
      ul {
        li {
          line-height: 30px;
          a {
            color: @sw-text-color;
            text-decoration: none;
            &:hover {
              color: @sw-header-color;
            }
          }
        }
      }
    }
  }
  .bottom-line {
    border-top: 1px solid #e5e5e5;
    display: flex;
    font-size: 14px;
    @media screen {
      @media (max-width: @screen-md) {
        text-align: center;
        padding: 15px 0;
        flex-direction: column;
      }
      @media (min-width: @screen-md) {
        padding: 30px 0;
        justify-content: space-between;
      }
    }
  }
}

.popup-open {
  overflow: hidden !important;
}

.block {
  padding: 45px 0;
  .block-inner {
    .block-title {
      font-size: 36px;
      color: @sw-text-color;
      font-weight: bold;
      display: flex;
      justify-content: center;
      line-height: 1em;
      margin-bottom: 75px;
      text-transform: uppercase;
      span {
        display: block;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          bottom: -20px;
          left: 0;
          right: 0;
          height: 15px;
          background: url(../img/title-line.png) center center no-repeat;
        }
      }
    }
    .block-content {
      .item {
        .item-img {

        }
        .item-title {

        }
        .item-content {

        }
        .item-link {

        }
      }
    }
    .block-more {
      margin-top: 30px;
      text-align: center;
      a {
        text-decoration: none;
        &:not(.btn) {
          font-weight: bold;
          color: @sw-header-color;
          text-transform: lowercase;
        }
        span {
          color: @sw-text-color;
        }
      }
    }
  }
  &.block-carousel {
    padding-bottom: 150px;
    background-color: @sw-header-color;
    background: radial-gradient(at 50% 0%, #3cbfff, #3883ff);
    position: relative;
    height: 450px;
    .container {
      .content-width;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url(../img/page-header.png);
      background-position: center;
      background-repeat: no-repeat;
    }
    * {
      z-index: 1;
      position: relative;
    }
    .owl-carousel {
      .item {
        height: 250px;
        display: flex;
        align-items: center;

        .item-caption {
          color: #fff;
          text-align: center;
          width: 80%;
          margin: 0 auto;
          .item-title {
            font-weight: bold;
            margin-bottom: 20px;
            line-height: 1em;
            @media screen {
              @media (max-width: @screen-md) {
                font-style: 36px;
              }
              @media (min-width: @screen-md) {
                font-size: 48px;
              }
            }
          }
          .item-content {
            font-weight: 300;
            @media screen {
              @media (max-width: @screen-md) {
                font-size: 18px;
              }
              @media (min-width: @screen-md) {
                font-size: 24px;
              }
            }
          }
        }
      }
      .owl-pagination {
        .owl-page {
          span {
            width: 11px;
            height: 11px;
            background: #fff;
            margin: 3px;
          }
          &.active {
            span {
              background: #1762de;
            }
          }
        }
      }
    }
  }
  &.block-howto {
    .container {
      .content-width;
    }
    @media screen {
      @media (max-width: @screen-md) {
        background: #eeeeee;
      }
      @media (min-width: @screen-md) {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 50%;
          left: 0;
          top: 0;
          bottom: 0;
          background: #eeeeee;
        }

        &:after {
          content: '';
          position: absolute;
          width: 50%;
          left: 50%;
          top: 0;
          bottom: 0;
          background: #e5e7ea;
        }

        * {
          z-index: 1;
          position: relative;
        }
      }
    }
    .block-content {
      display: flex;
      @media screen {
        @media (max-width: @screen-md) {
          flex-direction: column;
        }
        @media (min-width: @screen-md) {
          justify-content: space-between;
          align-items: center;
        }
      }
      .list {
        @media screen {
          @media (max-width: @screen-md) {

          }
          @media (min-width: @screen-md) {
            flex-basis: 30%;
          }
        }
        ol {
          list-style: none;
          counter-reset: my-badass-counter;
          li {
            font-weight: bold;
            text-transform: uppercase;
            color: #282828;
            font-size: 20px;
            padding-left: 50px;
            position: relative;
            @media screen {
              @media (max-width: @screen-md) {
                margin-bottom: 20px;
              }
              @media (min-width: @screen-md) {
                &:not(:last-child) {
                  margin: 0 0 50px;
                }
              }
            }
            &:before {
              content: counter(my-badass-counter);
              counter-increment: my-badass-counter;
              font-size: 70px;
              font-weight: 400;
              position: absolute;
              top: -5px;
              left: 0;
              line-height: 1em;
            }
            span {
              margin-top: 10px;
              text-transform: none;
              display: block;
              font-weight: normal;
              font-size: 18px;
            }
          }
        }
        &.client {
          ol {
            li {
              &:before {
                color: #fa9929;
              }
            }
          }
        }
        &.lancer {
          ol {
            li {
              &:before {
                color: #527990;
              }
            }
          }
        }
      }
      .illustration {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @media screen {
          @media (max-width: @screen-md) {
            margin: 30px 0;
          }
          @media (min-width: @screen-md) {
            margin: 0 30px;
          }
        }
        .item {
          span {
            display: block;
            font-size: 18px;
            color: #282828;
            margin-top: 5px;
            text-transform: uppercase;
          }
        }
        .icon {
          @media screen {
            @media (max-width: @screen-md) {
              margin: 0 10px 20px;
            }
            @media (min-width: @screen-md) {
              margin: 0 20px 20px;
            }
          }
          width: 90px;
          height: 60px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  &.block-testimonials {
    .container {
      .content-width;
    }
    .block-content {
      display: flex;
      @media screen {
        @media (max-width: @screen-md) {
          flex-direction: column;
        }
        @media (min-width: @screen-md) {
          justify-content: space-between;
        }
      }
      .item {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 0 30px;
        @media screen {
          @media (max-width: @screen-md) {
            margin-bottom: 40px;
          }
          @media (min-width: @screen-md) {
            flex-basis: 30%;
          }
        }
        .item-img {
          width: 180px;
          height: 180px;
          border-radius: 50%;
          overflow: hidden;
          margin-bottom: 30px;
          background: #eeeeee url(../img/avatar-def.png) center no-repeat;
        }
        .item-name {
          font-size: 24px;
          .title {
            margin-top: 10px;
            font-size: 14px;
            display: block;
            color: @sw-header-color;
          }
        }
        .item-content {
          margin-top: 30px;
          width: 100%;
        }
      }
    }
  }
  &.block-catalog {
    background: #f7f7f7;
    padding: 0 0 45px;
    position: relative;
    .container {
      .content-width;
    }
    .block-inner {
      margin-bottom: -150px;
    }
    .block-content {
      display: flex;
      @media screen {
        @media (max-width: @screen-md) {
          flex-direction: column;
        }
        @media (min-width: @screen-md) {
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }
      .item {
        text-align: center;
        background: #fff;
        box-shadow: 0 0 7px rgba(0, 0, 0, .1);
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin: -30px 0 150px;
        @media screen {
          @media (max-width: @screen-md) {
            padding: 0 30px 30px;
            flex: 0 0 100%;
          }
          @media (min-width: @screen-md) {
            flex-basis: 30%;
            width: 30%;
            padding: 0 20px 40px;
          }
        }
        .item-img {
          margin-bottom: 30px;
          height: 70px;
          a {
            display: flex;
            height: 100%;
            align-items: flex-end;
            justify-content: center;
          }
        }
        .item-title {
          text-transform: uppercase;
          font-weight: bold;
          color: @sw-header-color;
          font-size: 24px;
          font-family: @sw-font-header;
          margin-bottom: 25px;
          flex: 1 1 auto;
          width: 100%;
          a {
            text-decoration: none;
            color: inherit;
          }
        }
        .item-content {
          text-align: left;
          font-size: 16px;
          margin-bottom: 30px;
          font-weight: 300;
          ul {
            list-style: none;
            margin: 0;
            bottom: 0;
            li {
              line-height: 25px;
              a {
                text-decoration: none;
              }
            }
          }
        }
        .item-link {
          a {
            text-decoration: none;
            color: @sw-header-color;
            span {
              color: @sw-text-color;
            }
          }
        }
      }
    }
  }
  &.block-page-header {
    background: @sw-header-color url(../img/page-header.png) no-repeat;
    @media screen {
      @media (max-width: @screen-md) {
        background-position: left center;
        padding: 15px 0;
      }
      @media (min-width: @screen-md) {
        background-position: center;
      }
    }
    .container {
      .content-width;
    }
    .block-content {
      .mobile-navi {
        @media screen {
          @media (max-width: @screen-md) {
            color: #fff;
            text-decoration: none;
            display: block;
          }
          @media (min-width: @screen-md) {
            display: none;
          }
        }
        .icon {
          width: 17px;
          height: 17px;
          vertical-align: middle;
          margin-right: 5px;
        }
      }
      .navi {
        @media screen {
          @media (max-width: @screen-md) {
            display: none;
            margin-top: 20px;
          }
          @media (min-width: @screen-md) {

          }
        }
        ul {
          @media screen {
            @media (max-width: @screen-md) {

            }
            @media (min-width: @screen-md) {
              columns: 4;
            }
          }
          li {
            vertical-align: top;
            font-size: 20px;
            line-height: 1.7em;
            font-weight: 300;
            a {
              color: #fff;
              text-decoration: none;
              &:hover {
                color: @sw-text-color;
              }
            }
            &.active {
              a {
                color: @sw-text-color;
              }
            }
          }
        }
      }
    }
  }
  &.block-breadcrumbs {
    padding: 25px 0;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      @media screen {
        @media (max-width: @screen-md) {
          flex-wrap: wrap;
        }
        @media (min-width: @screen-md) {

        }
      }
      li {
        &:not(:last-child) {
          &:after {
            content: '>';
            margin: 0 10px;
          }
        }
        a {
          text-decoration: none;
        }
        span {
          color: @sw-header-color;
        }
      }
    }
  }
  &.block-page-content {
    padding: 15px 0;
    .block-inner {
      .block-title {
        color: @sw-header-color;
        font-size: 32px;
        text-transform: uppercase;
        margin-bottom: 30px;
        @media screen {
          @media (max-width: @screen-md) {
            flex-direction: column;
          }
          @media (min-width: @screen-md) {
            justify-content: space-between;
          }
        }
        h1 {
          font-size: inherit;
          line-height: 1em;
          margin: 0;
          font-weight: inherit;
        }
        .testimonials-count {
          font-weight: normal;
          font-size: 16px;
          color: @sw-text-color;
          text-transform: none;
          @media screen {
            @media (max-width: @screen-md) {
              margin-top: 15px;
            }
            @media (min-width: @screen-md) {
              margin-right: 260px;
            }
          }
          span {
            margin: 0;
            display: inline;
            &.plus {
              color: @sw-header-color;
            }
            &:after {
              display: none;
            }
          }
        }
      }
      .block-content {
        display: flex;
        @media screen {
          @media (max-width: @screen-md) {
            flex-direction: column;
          }
          @media (min-width: @screen-md) {
            justify-content: space-between;
          }
        }
        .side-block {
          @media screen {
            @media (max-width: @screen-md) {
            }
            @media (min-width: @screen-md) {
              flex: 0 0 240px;
              margin-right: 20px;
              &:last-child {
                margin-left: 20px;
                margin-right: 0;
              }
            }
          }
        }
        .main-content {
          @media screen {
            @media (max-width: @screen-md) {
              margin: 20px 0;
            }
            @media (min-width: @screen-md) {
              flex: 1;
            }
          }
          .resume-list {
            .item {
              background: #fafafa;
              @media screen {
                @media (max-width: @screen-md) {
                  padding: 5px 10px;
                }
                @media (min-width: @screen-md) {
                  padding: 15px 20px;
                }
              }
              &:not(:last-child) {
                margin-bottom: 30px;
              }
              .item-top-line {
                display: flex;
                margin-bottom: 20px;
                @media screen {
                  @media (max-width: @screen-md) {
                    // flex-direction: column;
                    flex-wrap: wrap;
                  }
                  @media (min-width: @screen-md) {
                    justify-content: space-between;
                  }
                }
                .item-img {
                  @media screen {
                    @media (max-width: @screen-md) {
                      margin-bottom: 20px;
                      flex: 0 0 80px;
                      margin-right: 15px;
                    }
                    @media (min-width: @screen-md) {
                      flex: 0 0 130px;
                      margin-right: 20px;
                    }
                  }
                }
                .item-vc {
                  flex: 1;
                  .item-header {

                    padding: 0 0 5px;
                    margin: 0 0 10px;

                    display: flex;
                    @media screen {
                      @media (max-width: @screen-md) {
                        flex-direction: column;
                        font-size: 14px;
                      }
                      @media (min-width: @screen-md) {
                        border-bottom: 1px solid #ddd;
                        font-size: 20px;
                        justify-content: space-between;
                      }
                    }
                    .item-name {
                      @media screen {
                        @media (max-width: @screen-md) {
                          margin-bottom: 15px;
                          font-size: 18px;
                        }
                        @media (min-width: @screen-md) {

                        }
                      }
                    }
                    .item-testimonials {
                      span {
                        color: @sw-header-color;
                      }
                    }
                  }
                  .item-category {

                    margin-bottom: 20px;
                    @media screen {
                      @media (max-width: @screen-md) {
                        font-size: 14px;
                      }
                      @media (min-width: @screen-md) {
                        font-size: 20px;
                      }
                    }
                  }
                  .item-location {
                    @media screen {
                      @media (max-width: @screen-md) {
                        font-size: 14px;
                      }
                      @media (min-width: @screen-md) {
                        font-size: 16px;
                      }
                    }
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    .icon {
                      background-size: auto 100%;
                      width: 20px;
                      height: 13px;
                      margin-right: 10px;
                    }
                  }
                  .item-contacts {
                    @media screen {
                      @media (max-width: @screen-md) {
                        font-size: 14px;
                      }
                      @media (min-width: @screen-md) {
                        font-size: 16px;
                      }
                    }
                    line-height: 1em;
                    display: flex;
                    align-items: center;
                    color: @sw-header-color;
                    a {
                      text-decoration: none;
                      color: @sw-header-color;
                    }
                    .icon {
                      width: 20px;
                      height: 16px;
                      background-size: 100% auto;
                      margin-right: 10px;
                    }
                    .hidden-field {
                      color: @sw-text-color;
                      opacity: .5;
                    }
                  }
                }
              }
              .item-link {
                text-align: right;
                font-size: 14px;
                a {
                  color: @sw-header-color;
                  text-decoration: none;
                  text-transform: lowercase;
                }
                span {
                  color: @sw-text-color;
                }
              }
            }
          }
          .testimonials-list {
            .item {
              background: #ebf2ff;
              padding: 15px 20px;
              margin-bottom: 5px;
              .item-top-line {
                padding: 0 0 10px;
                margin-bottom: 20px;
                display: flex;
                border-bottom: 1px solid #ddd;
                @media screen {
                  @media (max-width: @screen-md) {
                    flex-direction: column;
                  }
                  @media (min-width: @screen-md) {
                    justify-content: space-between;
                    align-items: center;
                  }
                }
                .item-rating {
                  @media screen {
                    @media (max-width: @screen-md) {

                    }
                    @media (min-width: @screen-md) {
                      width: 120px;
                    }
                  }
                }
                .item-name {
                  flex: 1;
                  font-size: 20px;
                }
                .item-date {
                  @media screen {
                    @media (max-width: @screen-md) {

                    }
                    @media (min-width: @screen-md) {
                      width: 100px;
                      text-align: right;
                    }
                  }
                  font-size: 14px;
                }
              }
              .item-content {
                font-weight: 300;
                .carousel {
                  ul {
                    li {
                      width: 80px;
                      height: 80px;
                    }
                  }
                }
              }
              .item-comments {
                display: flex;
                @media screen {
                  @media (max-width: @screen-md) {
                    flex-direction: column;
                  }
                  @media (min-width: @screen-md) {
                    align-items: center;
                  }
                }
                .item-comments-actions {
                  align-items: center;
                  display: flex;
                  @media screen {
                    @media (max-width: @screen-md) {
                      order: 1;
                    }
                    @media (min-width: @screen-md) {
                      flex: 0 0 120px;
                    }
                  }
                  .icon {
                    width: 22px;
                    height: 22px;
                    background-size: 100% auto;
                    margin-right: 5px;
                  }
                  a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                  }
                  .up {
                    margin-right: 20px;
                    color: @sw-header-color;
                    a {
                      color: inherit;
                    }
                  }
                  .down {
                    color: #bbb2ae;
                    a {
                      color: inherit;
                    }
                  }
                }
                .item-comments-count {
                  @media screen {
                    @media (max-width: @screen-md) {
                      order: 3;
                      margin: 15px 0;
                    }
                    @media (min-width: @screen-md) {

                    }
                  }
                  font-size: 12px;
                  font-weight: 300;
                  white-space: nowrap;
                  margin-right: 30px;
                  a {
                    color: @sw-header-color;
                    &.active {
                      color: @sw-text-color;
                    }
                  }
                }
                .item-comments-info {
                  @media screen {
                    @media (max-width: @screen-md) {
                      order: 2;
                      margin: 15px 0;
                    }
                    @media (min-width: @screen-md) {

                    }
                  }
                  font-size: 12px;
                  font-weight: 300;
                  a {
                    color: @sw-header-color;
                    text-decoration: underline;
                  }
                  .error {
                    color: #fc6953;
                  }
                }
              }
              .item-comments-list {
                font-size: 14px;
                font-weight: 300;
                display: none;
                @media screen {
                  @media (max-width: @screen-md) {
                    margin: 20px 0 10px 0;
                  }
                  @media (min-width: @screen-md) {
                    margin: 20px 0 10px 120px;
                  }
                }
                .item-comment {
                  &:not(:last-child) {
                    margin-bottom: 10px;
                  }
                  .comment-header {
                    border-bottom: 1px solid #ddd;
                    padding: 0 0 5px;
                    margin: 0 0 10px;
                    display: flex;
                    .comment-name {
                      font-weight: 400;
                      margin-left: 20px;
                    }
                  }
                  .comment-content {

                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.block-page-description {
    padding: 15px 0;
    .block-content {
      h2 {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: bold;
      }
    }
  }
}

.pagination {
  padding: 15px 0;
  @media screen {
    @media (max-width: @screen-md) {
      text-align: center;
    }
    @media (min-width: @screen-md) {
      text-align: right;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin-left: 3px;
      &.active, &:hover {
        a {
          color: #fff;
          background: @sw-header-color;
        }
      }
      a {
        text-decoration: none;
        display: block;
        height: 35px;
        line-height: 35px;
        padding: 0 15px;
        color: @sw-text-color;
        background: #ebeeef;
      }
    }
  }
}

.banner240x400, .banner240x240 {
  background: #ccc;
  overflow: hidden;
  margin-bottom: 20px;
  @media screen {
    @media (max-width: @screen-md) {
      width: 240px;
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width: @screen-md) {

    }
  }
  &.banner240x400 {
    height: 400px;
  }
  &.banner240x240 {
    height: 240px;
  }
}

.filter {
  background: #f5f5f5;
  padding: 20px;
  .mobile-navi {
    vertical-align: middle;
    @media screen {
      @media (max-width: @screen-md) {
        color: @sw-header-color;
        text-decoration: none;
      }
      @media (min-width: @screen-md) {
        display: none;
      }
    }
    .icon {
      margin-right: 5px;
      width: 20px;
      height: 20px;
    }
  }
  .form {
    @media screen {
      @media (max-width: @screen-md) {
        display: none;
        margin-top: 20px;
      }
      @media (min-width: @screen-md) {

      }
    }
  }
}

.image-upload {
  .icon {
    width: 17px;
    height: 15px;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.comment-post {
  margin-top: 15px;
  .comment-post-block {
    border: 1px solid #ddd;
    @media screen {
      @media (max-width: @screen-md) {
        padding: 10px 10px;
      }
      @media (min-width: @screen-md) {
        padding: 15px 25px;
      }
    }
    .post-header {
      padding: 0 0 10px;
      border-bottom: 1px solid #ddd;
      display: flex;
      @media screen {
        @media (max-width: @screen-md) {
          flex-direction: column;
        }
        @media (min-width: @screen-md) {
          justify-content: space-between;
        }
      }
      .left-side {
        display: flex;
        align-items: center;
        @media screen {
          @media (max-width: @screen-md) {
            // flex-direction: column;
            margin-bottom: 10px;
          }
          @media (min-width: @screen-md) {
          }
        }
        .title {
          margin-right: 30px;
          font-size: 20px;
          font-weight: bold;
        }
        .rating {
          .icon {
            width: 18px;
            height: 18px;
          }
        }
      }
      .image-upload {
        a {
          text-decoration: none;
        }
      }
    }
    .post-content {
      padding: 15px 0;
      textarea {
        resize: none;
        border: 0;
        border: 0;
        height: 100px;
        width: 100%;
      }
    }
  }
  .post-navi {
    display: flex;
    font-size: 14px;
    padding: 15px 0;
    a {
      &:not(.btn) {
        color: @sw-header-color;
      }
    }
    .btn {
      @media screen {
        @media (max-width: @screen-md) {
          text-align: center;
          margin-top: 15px;
        }
        @media (min-width: @screen-md) {
          margin-left: 50px;
        }
      }
    }
    @media screen {
      @media (max-width: @screen-md) {
        flex-direction: column;
      }
      @media (min-width: @screen-md) {
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

.error {
  color: #fc6953;
}

.single-resume {
  display: flex;
  background: #fafafa;
  padding: 15px;
  @media screen {
    @media (max-width: @screen-md) {
      flex-direction: column;
    }
    @media (min-width: @screen-md) {
      justify-content: space-between;
    }
  }
  .left-side {

    display: flex;
    @media screen {
      @media (max-width: @screen-md) {
        flex-direction: column;
        margin-bottom: 50px;
      }
      @media (min-width: @screen-md) {
        flex: 0 0 250px;
        margin-right: 30px;
        flex-direction: column;
      }
    }
    .img {
      margin-bottom: 30px;
      @media screen {
        @media (max-width: @screen-md) {
          // flex: 0 0 120px;
          // margin-right: 20px;

        }
        @media (min-width: @screen-md) {

        }
      }
    }
    .contacts {
      @media screen {
        @media (max-width: @screen-md) {
          flex: 1;
          margin-right: 20px;
        }
        @media (min-width: @screen-md) {

        }
      }
      .title {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: bold;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          margin-bottom: 10px;
          display: flex;
          @media screen {
            @media (max-width: @screen-md) {

            }
            @media (min-width: @screen-md) {

            }
          }
          .icon {
            margin-right: 10px;
            width: 15px;
            height: 15px;
            background-size: 100% 100%;
          }
          a {
            color: @sw-header-color;
            text-decoration: none;
            @media screen {
              @media (max-width: @screen-md) {
                word-break: break-all;
                width: 140px;
              }
              @media (min-width: @screen-md) {

              }
            }
          }
        }
      }
    }
  }
  .main-content {
    .carousel {
      max-width: 600px;
      ul {
        margin-left: 0;
        li {
          width: 120px;
          height: 120px;
        }
      }
    }
    flex: 1;
    ul {
      margin: 0 0 0 20px;
    }
    p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .resume-title {
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
      margin-bottom: 20px;
      font-size: 20px;
      display: flex;
      font-weight: bold;
      @media screen {
        @media (max-width: @screen-md) {
          flex-direction: column;
        }
        @media (min-width: @screen-md) {
          justify-content: space-between;
          align-items: center;
        }
      }
      .testimonials {
        span {
          color: @sw-header-color;
        }
      }
    }
    .line {
      border-bottom: 1px solid #f1f1f1;
      margin-bottom: 20px;
      padding-bottom: 5px;
      .title {
        margin-bottom: 10px;
        display: inline-block;
        font-size: 20px;
      }
      .rate, .education, .experiance {
        font-weight: bold;
        color: #80362d;
        font-size: 16px;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  background: rgba(38, 119, 239, .4);
  display: none;
  .modal-dialog {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-content {
      background: #fff;
      padding: 30px;
      position: relative;
      @media screen {
        @media (max-width: @screen-md) {
          width: 100%;
          height: 100%;
          overflow-y: auto;
        }
        @media (min-width: @screen-md) {
          width: 440px;
        }
      }
      .modal-header {
        text-align: center;
        margin: 10px 0 20px;
        h4 {
          line-height: 1em;
          text-transform: uppercase;
          color: @sw-header-color;
          font-weight: bold;
          font-size: 32px;
        }
        .close {
          position: absolute;
          top: 15px;
          right: 15px;
          display: block;
          .icon {
            width: 20px;
            height: 20px;
            background-size: 100%;
          }
        }
      }
      .form {
        .input-wrap {
          width: 100%;
          [type="text"], [type="password"] {
            padding: 0 15px;
            height: 40px;
            width: 100%;
          }
        }
      }
    }
  }
}

.page-content {
  display: flex;
  margin-top: 20px;
  font-weight: 300;
  @media screen {
    @media (max-width: @screen-md) {
      flex-direction: column;
    }
    @media (min-width: @screen-md) {
      justify-content: space-between;
    }
  }
  .left-side {
    background: #f5f5f5;
    padding: 10px;
    @media screen {
      @media (max-width: @screen-md) {

      }
      @media (min-width: @screen-md) {
        flex: 0 0 250px;
      }
    }
  }
  .main-content {
    padding: 10px;
    @media screen {
      @media (max-width: @screen-md) {

      }
      @media (min-width: @screen-md) {
        flex: 1;
        margin-left: 30px;
      }
    }
  }
}