<div class="list">
    <div class="filters row">
        <div class="form-group col-md-3">
            <div>Выберите курс:</div>
            <select class="form-control"
                    ng-options="course.name for course in $ctrl.courses"
                    ng-model="$ctrl.selectedCourse">
                <option value="">Выберите курс</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <div>Выберите UNIT:</div>
            <select class="form-control"
                    ng-options="unit.name for unit in $ctrl.units"
                    ng-model="$ctrl.selectedUnit">
                <option value="">Выберите Unit</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <div>Выберите урок:</div>
            <select class="form-control"
                    ng-options="lesson.name for lesson in $ctrl.lessons"
                    ng-model="$ctrl.selectedLesson">
                <option value="">Выберите урок</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <div>Выберите часть урока:</div>
            <select class="form-control"
                    ng-options="lessonPart.name for lessonPart in $ctrl.lessonParts"
                    ng-model="$ctrl.selectedLessonPart">
                <option value="">Выберите часть урока</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3 pull-right">
            <a href="/lessons/edit/"
               class="btn btn-block btn-warning">Создать урок</a>
        </div>
    </div>
    <div class="row">
        <ul class="exercise-list">
            <li ng-repeat="exercise in $ctrl.exercises">
                <a href="/lessons/edit/" class="full" ng-bind="exercise.name"></a>
                <strong class="index" ng-bind="$index+1"></strong>
                <span ng-bind="exercise.name"></span>
            </li>
        </ul>
    </div>
</div>