<div class="editor">
    <div ng-if="!$ctrl.savedResult">

        <div class="row">
            <div class="col-md-12 form-group">
                <div>Выберите шаблон:</div>
                <select ng-options="option.name for option in $ctrl.templates"
                        ng-model="$ctrl.selectedComponent"
                        class="form-control">
                    <option value="">---Выберите шаблон---</option>
                </select>
            </div>
        </div>

        <exercise-template type="{{$ctrl.selectedComponent.name}}"></exercise-template>

        <div class="row wrapper">
            <div class="card"
                 ng-if="$ctrl.selectedComponent.value">
                <component-generator component="$ctrl.selectedComponent.value"
                                     callback="$ctrl.save(request)">
                </component-generator>
            </div>
        </div>
    </div>
    <div class="saved-result" ng-if="$ctrl.savedResult == 'SUCCESS'">
        <p class="success"><strong>Сохранено успешно</strong></p>
        <a href="" ng-click="$ctrl.reload();">Создать новый</a>
    </div>
    <div class="saved-result" ng-if="$ctrl.savedResult == 'FAIL'">
        <p class="fail"><strong>При сохранении произошла ошибка</strong></p>
        <a href="" ng-click="$ctrl.reload();">Создать новый</a>
    </div>
</div>