<div class="load-file"
     nv-file-drop=""
     uploader="loadFile.uploader">
    <div nv-file-over=""
         uploader="loadFile.uploader"
         over-class="file-over-class"
         class="well drop-zone">
        <div ng-if="!loadFile.loading && !loadFile.error && !loadFile.success">
            <input type="file" nv-file-select="" uploader="loadFile.uploader"/>
            {{'SELECT FILE' | translate}}
        </div>
        <div ng-if="loadFile.loading || loadFile.error || loadFile.success"
             class="text-center">
            <strong ng-if="loadFile.loading">{{'LOADING' | translate}}...</strong>
            <strong ng-if="loadFile.error" class="text-danger">
                {{'ERROR' | translate}}: {{loadFile.errorMessage}}
                <a href="#"
                   ng-click="loadFile.repeat();">{{'REPEAT' | translate}}</a>
            </strong>
            <strong ng-if="loadFile.success" class="text-success">
                {{'SUCCESS' | translate}}: {{loadFile.successMessage}}
                <a href="#"
                   ng-click="loadFile.repeat();">{{'REPEAT' | translate}}</a>
            </strong>
        </div>
    </div>
</div>
