<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
                {{'BACK' | translate}}
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <settings-modal></settings-modal>
            </ion-nav-buttons>
        </ion-nav-bar>
        <div class="bar bar-subheader bar-assertive bar-offline"
             ng-if="!isOnline"
             ng-click="checkConnection();">
            <h2 class="title">Утеряно соединение</h2>
        </div>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable transparent">
            <div class="logo-icon"></div>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close
                          ng-repeat="item in menu"
                          ng-class="{'yellow-btn':item.yellow}"
                          ui-sref="{{item.state}}">
                    <span>{{item.name | translate}}</span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
