<div class="sub-slide-menu fixed">
    <ion-scroll direction="x"
                has-bouncing="false"
                class="wide-as-needed">
        <a class="button"
           ng-class="{'selected':item == selected}"
           ng-repeat="item in items"
           ng-click="select(item);">{{item | translate}}</a>
    </ion-scroll>
</div>