<div class="tab-menu" style="column-count:{{items.length}}; -webkit-column-count: {{items.length}}; -moz-column-count: {{items.length}}">
    <div class="tab"
         ng-repeat="item in items"
         ng-class="{'active': item == selected}"
         ng-click="select(item)">
        <span class="name">{{item | translate}}</span>
    </div>
</div>