.lesson {
  .card {
    padding: 20px 10px 10px;
  }

  .load-file > .well {
    border-color: $brand-primary;
  }

  .exercise-list {
    list-style: none;
    padding: 0;
    li {
      display: block;
      padding: 15px;
      width: 100%;
      position: relative;
      border-bottom: $light-gray-line;
      span {
        color: $stable-text;
        font-weight: 500;
      }
      &:hover {
        span {
          text-decoration: underline;
        }
      }
      .index {
        background: $brand-primary;
        float: left;
        @extend .circle-block
      }
    }
  }

  .saved-result {
    text-align: center;
    padding: 30px;
    font-size: 20px;
    .success {
      color: $brand-success;
    }
    .fail {
      color: $brand-danger;
    }
  }
}
