<ion-modal-view class="yellow-bg settings-modal">
    <ion-header-bar class="transparent border-none">
        <div class="buttons">
            <h1 class="title"></h1>
            <button class="button button-clear pull-right ion-close-round close-button" ng-click="modal.hide();"></button>
        </div>
    </ion-header-bar>

    <ion-content scroll="false">

        <div class="icons-line">
            <div class="icon icon-insta"
                 ng-click="open('https://instagram.com/fcbate/');"></div>
            <div class="icon icon-tw"
                 ng-click="open('https://twitter.com/FCBATE');"></div>
            <div class="icon icon-fb"
                 ng-click="open('https://www.facebook.com/132059863541608');"></div>
            <div class="icon icon-vk"
                 ng-click="open('https://vk.com/fcbate');"></div>

            <div class="clearfix"></div>
        </div>


        <div class="clearfix"></div>
        <div class="links table-wrapper">
            <div class="table-cell">
                <a ng-click="open('http://fcbate.by/forum/')">{{'FORUM' | translate}}</a>
                <a ng-click="openRate();">{{'RATE APP' | translate}}</a>
                <a ng-click="emailUs.open();">{{'WRITE US' | translate}}</a>
            </div>
        </div>

    </ion-content>

    <ion-footer-bar class="settings-footer">
        <div class="rozumsoft" ng-click="open('http://rozumsoft.ru/')">
            2015 © ООО «Розум Софт»
        </div>
    </ion-footer-bar>

</ion-modal-view>
