<div class="login-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <img src="assets/images/logo.png" class="logo img-responsive">
                    <form class="form-signin">
                        <input type="text"
                               ng-model="email"
                               class="form-control"
                               placeholder="GPID"
                               required autofocus>

                        <input type="password"
                               ng-model="password"
                               class="form-control"
                               placeholder="Password"
                               required>

                        <button class="btn btn-lg btn-primary btn-block"
                                ng-click="login.auth(email, password);"
                                type="submit">
                            {{'SIGN IN' | translate}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>