<ion-modal-view class="modal video-modal black">
    <ion-header-bar class="bar-transparent border-none">
        <div class="buttons">
            <h1 class="title"></h1>
            <button class="button button-clear pull-right ion-close-round close-button"
                    ng-click="closeModal();"></button>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" class="has-not-header">
        <div class="table-wrapper">
            <div class="video-wrapper centerme">

                <div class="fullscreen-player" ng-if="video.is_youtube">
                    <iframe class="video-player" ng-src="{{src}}" frameborder="0"
                            allowfullscreen autoplay></iframe>
                </div>

                <div class="fullscreen-player" ng-if="!video.is_youtube">
                    <video controls="controls"
                           poster="{{poster}}"
                           preload="metadata"
                           webkit-playsinline="webkit-playsinline"
                           class="video-player"
                           ng-src="{{src}}"
                           type="video/mp4"
                           autoplay="autoplay" autoplay>
                    </video>
                </div>

            </div>
        </div>
    </ion-content>
</ion-modal-view>
