<div class="container">
    <div class="logo">Denis Artyuhovich</div>
    <nav class="nav-main">
        <a [routerLink]="['/']">BLOG</a>
        <a [routerLink]="['/Profile']">PROFILE</a>
        <a [routerLink]="['/Contacts']">CONTACTS</a>
        <a [routerLink]="['/Login']" *ngIf="!(getLoggedIn() | async)"><span class="glyphicon glyphicon-log-in"></span></a>
        <a href="#" (click)="logout()" *ngIf="getLoggedIn() | async"><span class="glyphicon glyphicon-log-out"></span></a>
    </nav>
</div>