.top-menu {
  .logo {
    color: $nav-color;
    margin: -30px 0 0 50px;
    position: absolute;
    font-family: $logo-font-family;
    font-size: $header-size / 1.5;
    font-weight: 500;
    z-index: 0;
    &.clone {
      color: $brand-primary;
      margin: 0 0 0 50px;
      top: 15px;
      z-index: 1;
    }
  }

  .nav-main {
    position: absolute;
    right: $header-size + 40;
    z-index: 1;
    top: 13px;

    > a {
      color: $nav-color;;
      display: block;
      margin-right: 20px;
      padding: 0 5px 20px;
      font-size: $default-font-size;
      float: left;
      &:hover {
        border-bottom: 2px solid $brand-primary;
        text-decoration: none;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}